@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Add a new stylist</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)
  @Html.LabelFor(model => model.StylistSpeciality)
  @Html.TextBoxFor(model => model.StylistSpeciality)
  <input type="submit" value="Add new stylist" />
}
