body {
  background-color: purple;
  padding: 10px;
}
h1, h2 {
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
a {
  color: white;
}
form {
  padding: 20px;
  margin: 20px;
}
div#footer {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:14px;
  border-top: 1px solid white;
}